.Alphabet {
    background-image: url('../../../assets/images/Alphabet.png');
    background-size: cover;
    min-height: 79vh;
    text-align: center;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
}

.AlphabetHeader h1 {
    color: white;
    text-shadow: 2px 2px 2px black;
    font-size: 32px;
    font-weight: bold;
}

.AlphabetMessage {
    color: white;
    text-shadow: 2px 2px 2px black;
}

.AlphabetContent {
    min-height: 60vh;
    background-color: rgba(220, 53, 69, .75);
    color: white;
    padding: 20px;
    text-align: left;
    font-size: 1.5rem;
}

.LetterDisplay {
    font-size: 7.5rem;
}
