.VerbEngine {
    background-image: url('../../../assets/images/monument.jpg');
    background-size: cover;
    min-height: 79vh;
    text-align: center;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
}

.VerbEngineHeader h1 {
    color: white;
    text-shadow: 2px 2px 2px black;
    font-size: 32px;
    font-weight: bold;
}

.VerbEngineContent {
    text-align: left;
    color: white;
    min-height: 60vh;
    background-color: rgba(220, 53, 69, .75);
    padding: 10px;
}

.VerbListDropdownMenu {
    height: 300px;
    overflow-y: auto;
}

.ChooseVerbPrompt {
    height: 20px;
}