.VerbElementCard {
    margin: 5px;
    color: black;
    max-width: 14%;
    height: fit-content;
}

.CardHeader {
    text-align: center;
}

@media (max-width: 768px) {
    .VerbElementCard {
        width: 100%;
    }
}