.Lessons {
    background-image: url('../../assets/images/coffee.jpg');
    background-size: cover;
    min-height: 79vh;
    color: white;
    text-align: center;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
}

.LessonsHeader h1 {
    font-size: 48px;
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
}

.LessonsContainer {
    min-height: 50vh;
    background-color: rgba(255, 0, 0, 0.25);
}

.LessonsButtons {
    margin: 5px auto;
    margin-left: 5px;
    margin-right: 5px;
}