.Lesson {
    background-image: url('../../assets/images/sculpture.jpg');
    background-size: cover;
    min-height: 79vh;
    text-align: center;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
}

.LessonHeader h1 {
    color: white;
    font-size: 32px;
    font-weight: bold;
}

.LessonContent {
    min-height: 60vh;
    background-color: rgba(220, 53, 69, .75);
}

.LessonCommentary {
    padding-top: 10px;
    text-align: left;
    color: white;
    font-size: 18px;
}

.LessonExamples {
    padding: 5px;
    text-align: center;
    font-size: 18px;
}

.LessonExample {
    width: fit-content;
    float: left;
    margin: 5px 5px;
}

table {
    text-align: center;
}

td {
    padding-left: 5px;
    padding-right: 5px;
}

.ExampleHeading {
    font-size: 20px;
}

.ExampleHighlighted {
    padding: 0;
    color: deeppink !important;
    background-color: transparent;
}

.LessonButton {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 15px;
}