.Footer {
    width: 100%;
    height: 80px;
    background-color: #DC3545;
    display: block;
    color: white;
    padding-top: 10px;
    text-align: center;
}

.Footer h5 {
    font-size: 12px;
}

.Footer a {
    text-decoration: none;
    color: lightgreen;
}