.Countries {
    background-image: url('../../../assets/images/world.jpg');
    background-size: cover;
    min-height: 79vh;
    text-align: center;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
}

.Flag {
    width: 75px;
    height: 45px;
}

.CountriesHeader h1 {
    color: white;
    text-shadow: 2px 2px 2px black;
    font-size: 32px;
    font-weight: bold;
}

.CountriesMessage {
    color: white;
    text-shadow: 2px 2px 2px black;
}

.CountriesContent {
    min-height: 60vh;
    background-color: rgba(220, 53, 69, .75);
}
