.Dates {
    background-image: url('../../../assets/images/time.jpg');
    background-size: cover;
    min-height: 79vh;
    text-align: center;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
}

.DatesHeader h1 {
    color: white;
    text-shadow: 2px 2px 2px black;
    font-size: 32px;
    font-weight: bold;
}

.DatesContent {
    text-align: left;
    color: white;
    min-height: 60vh;
    background-color: rgba(220, 53, 69, .75);
    padding: 10px;
}

.DateAlert {
    margin: 5px;
    padding: 0;
    text-align: center;
}

.DayPicker {
    background-color: white;
    color: black;
}

.DayPicker-Day{
    color: black;
}

.selectedDay {
    background-color: red;
    color: white;
}
