@import url('https://fonts.googleapis.com/css?family=Prompt:400,400i,700,700i');
.App {
  width: 100vw;
  padding: 0 !important;
  margin: 0 !important;
  font-family: 'Prompt', sans-serif !important;
  text-align: center;}