.Reference {
    background-image: url('../../assets/images/flag.jpg');
    background-size: cover;
    min-height: 79vh;
    text-align: center;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
}

.ReferenceHeader h1 {
    color: white;
    text-shadow: 1px 1px 1px black;
    font-size: 32px;
    font-weight: bold;
}

.ReferenceMessage {
    color: white;
    text-shadow: 1px 1px 1px black;
}

.ReferenceContent {
    min-height: 60vh;
    background-color: rgba(220, 53, 69, .75);
}